<p id="notice"><%= notice %></p>

<h1>Listing Game Versions</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Version</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_versions.each do |game_version| %>
      <tr>
        <td><%= game_version.game %></td>
        <td><%= game_version.version %></td>
        <td><%= game_version.language %></td>
        <td><%= link_to 'Show', game_version %></td>
        <td><%= link_to 'Edit', edit_game_version_path(game_version) %></td>
        <td><%= link_to 'Destroy', game_version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game version', new_game_version_path %>
