<%= form_for(@lease_order) do |f| %>
  <% if @lease_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease_order.errors.count, "error") %> prohibited this lease_order from being saved:</h2>

      <ul>
      <% @lease_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :games_id %><br>
    <%= f.text_field :games_id %>
  </div>
  <div class="field">
    <%= f.label :game_versions_id %><br>
    <%= f.text_field :game_versions_id %>
  </div>
  <div class="field">
    <%= f.label :third_partys_id %><br>
    <%= f.text_field :third_partys_id %>
  </div>
  <div class="field">
    <%= f.label :irb %><br>
    <%= f.text_field :irb %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
