<p id="notice"><%= notice %></p>

<p>
  <strong>Game version:</strong>
  <%= @account.game_version %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<p>
  <strong>Account:</strong>
  <%= @account.account %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Is valid:</strong>
  <%= @account.is_valid %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
